body {
    margin: 0;
    font-family: fantasy;
    background-color: lightblue;
}

header {
    background-color: lightgray;
    height: 41px;
    text-align: center;
    padding: 27px, 33px;
    
}

.navBar {
    overflow: hidden;
    background-color: black;
    height: 33px;
}

.navBar a {
    float: left;
    color: red;
    text-align: center;
    padding: 21px, 27px;
    text-decoration: none;
    font-size: 23px;
}

.navBar a:hover {
    background-color: green;
    color: yellow;
    
}

.navBar a:active {
    background-color: red;
    color: white;
    
}

p {
    text-align: center;
    font-size: 37px;
    font-weight: bolder;
    
}

p:hover {
    color: plum;
    background-color: aquamarine;
    
}

#info1 {
    background-color: brown;
    color: lightyellow;
    font-size: 21px;
    font-weight: normal;
    width: 50%;
    text-align: center;
    margin-left: 25%;
    padding: 23px;
    
}

#audioTheme {
    margin-left: 10%;
    
}

#cart {
    color: white;
    
}

.items {
    margin-left: 20%;
    
}

.info {
    text-align: left;
    font-size: 19px;
    font-family: sans-serif;
    font-weight: normal;

}

th {
    width: 200px;
    
}

td {
    width: 400px;
    
}

.mainPic {
    width: 200px;
    
}

.thumbPic {
    width: 55px;
    
}

.cart {
    margin-left: 30%   
    
}

.cartInfo {
    text-align: left;
    font-size: 13px;
    font-family: sans-serif;
    font-weight: normal;
    
}