form {
    vertical-align: middle;
    margin-left: 30%;
    font-size: 27px;
    padding: 50px;
    font-weight: bold;
    
}

 input {
     font-size: 27px;
     
}

.greetings {
    font-size: 27px;
    font-weight: bold;

}

.info {
    font-size: 17px;
    font-style: italic;
    
}